@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.home-container {
  background-color: #FFFBE2; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Modak', sans-serif; /* Apply the Modak font */
  padding-top: 20px; /* Add some padding at the top */
}

.home-container p {
  color: darkblue;
  font-size: 1.5rem; /* Adjust the font size for the p element */
  margin-top: 10px; /* Add some space below the heading */
}

.home-image {
  width: 1100px; /* Adjust the width of the image */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 20px; /* Add some space above the text box */
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px; /* Add some space above the text box */
  margin-left: 59px; /* Move the text box to the right */
}

.search-icon {
  position: absolute;
  left: 15px;
  font-size: 1.2rem;
  color: #000; /* Adjust the color of the icon */
}

.home-textbox {
  width: 900px;
  height: 50px;
  border-radius: 25px; /* Add rounded corners */
  padding: 5px 5px 5px 40px; /* Add padding inside the text box, with extra padding on the left for the icon */
  font-size: 1rem; /* Adjust the font size inside the text box */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  border: 2px solid #000; /* Ensure the border is consistent */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  background-color: #edead2;
  /*rgb(227, 230, 214)*/
}


